body{
    font-size: 12px;
    font-family: Arial, Helvetica, sans-serif;
}
.categoryPageDiv{
    max-width: 1013px;
    margin: 10px auto;
    background-color: #FAF9F9;
}
.categoryProducts{
    padding: 0px 20px 40px 35px;
}
.productUnit{
    width: 225px;
    height: 338px;
    border: 3px solid #fff;
    background-color: white;
    margin: 12px 5px;
    float: left;
}
.productUnit:hover{
    border:3px solid #C40000;
}
.productUnitFrame{
    border: 1px solid #eee;
    height: 100%;
}
.productUnitFrame:hover{
    border:1px solid #C40000;
}
.productUnit .productImage{
    width: 100%;
    height: 190px;
}
.productUnit .productPrice{
    font-size: 20px;
    color: #CC0000;
    display: block;
    padding-left: 4px;
}
.productLink{
    margin: 10px 0px;
    color: #333333;
    display: block;
    height: 34px;
}
.productLink:hover{
    color: #C40000;
    text-decoration: none;
}
.tmallLink{
    margin: 10px 0px;
    color: #999999;
    display: block;
    text-decoration: underline;
}
.tmallLink:hover{
    color: #C40000;
}
.productInfo{
    border-top: 1px solid #eeeeee;
    color: #999999;
}
.productDealNumber{
    font-weight: bold;
    color: #B57C5B;
}
.productReviewNumber{
    border-left: 1px solid #EEEEEE;
    border-right: 1px solid #EEEEEE;
    font-weight: bold;
    color: #3388BB;
}
.monthDeal,.productReview{
    display: inline-block;
    width: 90px;
    height: 29px;
    padding-top: 5px;
    padding-left: 5px;
}
.wangwang{
    padding-left: 3px;
}
.categoryPageDiv-top{
    max-width: 1013px;
    margin: 30px auto;
}
.categorySortBar{
    background-color: #FAF9F9;
    margin: 40px 0px 20px 0px;
    padding: 4px;
}
.categorySortBarTable{
    display: inline-block;
    border-collapse: collapse;
}
.categorySortTable .glyphicon{
    font-size: 10px;
}
.categorySortBarTable td{
    height: 17px;
    font-size: 12px;
    border: 1px solid #cccccc;
    padding: 3px;
}
.grayColumn{
    background-color: #F1EDEC;
}
.categorySortBarTable td a{
    color: #806F66;
}
.categorySortBarTable td a:hover{
    color: #C40000;
    text-decoration: none;
}
.categorySortBarTable input{
    border:none;
    height: 15px;
    width: 50px;
    outline: none;
}
.priceMiddleColumn{
    width: 5px;
    vertical-align: middle;
}
.categorySortBarTable td:hover{
    background-color: #F1EDEC;
}